<a href="https://colab.research.google.com/github/c-swim/python-study/blob/main/250103.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#연산자 활용
print(10*18**2+2*11)

3262

In [ ]:
#몫과 나머지
n1 = 14//3
n2 = 14%3
print("몫 : ",n1,"나머지 : ",n2)

몫 :  4 나머지 :  2

In [ ]:
#multistring.py
print("="*50)
print("My program")
print("="*50)

==================================================
My program
==================================================

In [ ]:
a= 'You need python'
len(a)

15

In [ ]:
#pithon to python
a="Pithon"

a[:1]+"y"+a[2:]

'Python'

In [29]:
#2장 되새김 문제

#Q1
Grade = [80,75,55]
sum=0

for i in Grade :
  sum += i
avg = sum/len(Grade)

print(avg)

70.0

In [1]:
#Q2

if 13%2==0 :
  print("even")
else:
  print("odd")

odd

In [7]:
#Q3

pin = "881120-1068234"
yyyymmdd=pin[:6]
num=pin[-6:]
print(yyyymmdd)
print(num)

#Q4
print(pin[7])

881120
068234
1

In [11]:
#Q5

a= "a:b:c:d"
b=a.replace(":","#")
print(b)

a#b#c#d

In [12]:
#Q6

a=[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [14]:
#Q7

a= ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

In [23]:
#Q8

a= (1,2,3)
a += (4,)
print(a)

(1, 2, 3, 4)

In [28]:
#Q9

a=dict()
a['name'] = 'python'
a[('a',)] = 'python'
a[[1]] = 'python'  #>> key에 [1],리스트 형식이 들어갔는데 이름이 안적힘
a[250] = 'python'

a

TypeError: unhashable type: 'list'

In [30]:
#Q10

#Q1
a = {'A':90,'B':80,'C':70}
result = a.pop('B')

print(a)
print(result)

{'A': 90, 'C': 70}
80

In [34]:
#Q11

a =[1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
#print(aSet)
b=list(aSet)
print(b)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [35]:
#Q12

a=b=[1,2,3]
a[1]=4
print(b) #a=b, id값이 같아 a를 바꿨음에도 b도 같이 바뀜

[1, 4, 3]